@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --primary-color: #34215e;
  --secondary-color: #55e6ae;
  --text-color: #34215e;
  --gray-color: "#737373";
  --success-color: #00bf36;
  --failed-color: #ff2222;
  --border-color: #ededed;
  --loader-color: #674da1;
  --border_radius: 8px;
  --large-border-radius: 16px;
  --primary-font: "Tajawal", sans-serif;
}
body {
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  font-family: var(--primary-font);
  color: var(--text-color);
}
* {
  background-size: cover;
  background-repeat: no-repeat;
  /* word-wrap: break-word; */
  hyphens: auto;
  /* word-break: break-all; */
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 36px;
}

h1,
.h1 {
  font-size: 44px;
  font-family: var(--primary-font);
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--text-color);
}
h2,
.h2 {
  font-size: 40px;
  color: var(--text-color);
}
h3,
.h3 {
  font-size: 20px;
  color: var(--text-color);
}
h4,
.h4 {
  font-size: 18px;
  color: var(--text-color);
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  h1,
  .h1 {
    font-size: 31px;
    font-family: var(--primary-font);
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--text-color);
  }
  h2,
  .h2 {
    font-size: 27px;
    color: var(--text-color);
  }
  h3,
  .h3 {
    font-size: 15px;
    color: var(--text-color);
  }
  h4,
  .h4 {
    font-size: 11px;
    color: var(--text-color);
  }
  h5,
  .h5 {
    font-size: 9px;
  }
  h6,
  .h6 {
    font-size: 8px;
  }
}
@media only screen and (max-width: 450px) {
  h1,
  .h1 {
    font-size: 25px;
    font-family: var(--primary-font);
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--text-color);
  }
  h2,
  .h2 {
    font-size: 21px;
    color: var(--text-color);
  }
  h3,
  .h3 {
    font-size: 11px;
    color: var(--text-color);
  }
  h4,
  .h4 {
    font-size: 9px;
    color: var(--text-color);
  }
  h5,
  .h5 {
    font-size: 8px;
  }
  h6,
  .h6 {
    font-size: 7px;
  }
}

input,
textarea,
.input,
select {
  border: solid 2px var(--border-color);
  border-radius: var(--border_radius);
  height: 42px;
  padding: 2px 5px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
}
input:focus,
textarea:focus,
.input:focus,
select:focus,
select:focus-within {
  border: solid 1px var(--primary-color);
}
button:disabled {
  opacity: 0.5;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea::-webkit-resizer,
input::-webkit-inner-spin-button {
  display: none;
}
